# Python
__pycache__/
*.pyc
*venv/

# Datos Crudos (JSON)
*PDN_S*

# Salidas Generadas (CSV y DB)
*csv_outputs/
*.duckdb
*.db

# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/
.user.yml

# Editor
.vscode/
.idea/
.DS_Store
